.city {
  width: 91px;
  height: 23px;
  text-align: left;
  font: normal normal normal 15px/23px Jost;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  padding: 10px 0 0 15px;
  margin: 0;
  white-space: nowrap;
}

.date {
  width: 167px;
  height: 26px;
  text-align: left;
  font: normal normal 300 16px/23px Jost;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  padding: 4px 0 0 15px;
  margin: 0;
  white-space: nowrap;
}
